In [1]:
import pandas as pd

In [2]:
pd.__file__

'/home/vivek/de-zoomcamp-26/.venv/lib/python3.12/site-packages/pandas/__init__.py'

In [8]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = prefix +  'yellow_tripdata_2021-01.csv.gz'
# df = pd.read_csv(url)

In [9]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

In [10]:
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [15]:
!uv add sqlalchemy psycopg2

Resolved 119 packages in 413ms
Prepared 1 package in 9.12s
Installed 1 package in 2ms
 + psycopg2==2.9.11

In [16]:
from sqlalchemy import create_engine
engine  =create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
print(pd.io.sql.get_schema(df,name = 'yellow_taxi_data' , con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [19]:
# creating the db in pg using head(0) , this just takes the schema from the df and does not insert any rows
df.head(0).to_sql(con=engine,name="yellow_taxi_data",if_exists = 'replace')

0

In [31]:
#creating an iterator

df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    chunksize=100000
)

In [32]:
# get data in chunks from the iterator
# df = next(df_iter)

In [33]:
from tqdm.auto import tqdm

In [34]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(con=engine,name="yellow_taxi_data",if_exists = 'append')

0it [00:00, ?it/s]