In [1]:
import pandas as pd

In [2]:
pd.__file__

'/home/vivek/de-zoomcamp-26/.venv/lib/python3.12/site-packages/pandas/__init__.py'

In [8]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = prefix +  'yellow_tripdata_2021-01.csv.gz'
# df = pd.read_csv(url)

In [9]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

In [10]:
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [15]:
!uv add sqlalchemy psycopg2

Resolved 119 packages in 413ms
Prepared 1 package in 9.12s
Installed 1 package in 2ms
 + psycopg2==2.9.11

In [3]:
from sqlalchemy import create_engine
engine  =create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
print(pd.io.sql.get_schema(df,name = 'yellow_taxi_data' , con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [19]:
# creating the db in pg using head(0) , this just takes the schema from the df and does not insert any rows
df.head(0).to_sql(con=engine,name="yellow_taxi_data",if_exists = 'replace')

0

In [31]:
#creating an iterator

df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    chunksize=100000
)

In [32]:
# get data in chunks from the iterator
# df = next(df_iter)

In [33]:
from tqdm.auto import tqdm

In [34]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(con=engine,name="yellow_taxi_data",if_exists = 'append')

0it [00:00, ?it/s]

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2026-01-24 16:13:17--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 16.15.200.60, 16.15.187.123, 16.15.191.95, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|16.15.200.60|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2026-01-24 16:13:18 ERROR 403: Forbidden.

In [4]:
df = pd.read_csv("taxi_zone_lookup.csv")

In [5]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [6]:
df.to_sql(name='zones',con=engine,if_exists='replace')

265

In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-25 12:53:35--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.67.153.185, 18.67.153.166, 18.67.153.6, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.67.153.185|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet’

green_tripdata_2025 100%[===================>]   1.11M  5.23MB/s    in 0.2s

2026-01-25 12:53:35 (5.23 MB/s) - ‘green_tripdata_2025-11.parquet’ saved [1164775/1164775]

In [4]:
df =pd.read_parquet('green_tripdata_2025-11.parquet')

In [7]:
from sqlalchemy import create_engine
engine  =create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
df.to_sql(name="green_tripdata_2025-11",con=engine,if_exists='replace')

912

In [9]:
df.shape

(46912, 21)

In [11]:
df_zones = pd.read_csv('taxi_zone_lookup.csv.1')

In [14]:
df_zones.to_sql(name="zones",con=engine,if_exists='replace')

265